body{
    color: bisque;
    display: flex;
    justify-content: center;
flex-direction: column;
align-items: center;
background-image:url(descarga\ \(1\).jfif);
background-size: cover;
}
.general{
border-radius: 15px;
margin: 2px;
}
.active{
    background-color: rgb(151, 136, 162);
    padding: 10px
    ;
}
.inactive{
    background-color: rgb(198, 76, 255);
    padding: 10px;
    
}
